@import "../app.scss";

.island {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-bottom: 6rem;
  box-shadow: 10px 5px 5px rgb(108, 106, 106);
  border: 2px solid rgb(131, 128, 128);
  z-index：10； .space {
    width: 100%;

    @media (max-width: 576px) {
      height: 30%;
      height: 10%;
    }
  }
}

.about-container {
  background: $background;
  justify-content: space-around;
  display: flex;
  @media (max-width: 576px) {
    flex-direction: column;
  }
  #brief {
    width: 50vw;
    text-align: center;
    @media (max-width: 576px) {
      width: 90%;
    }
    #topic {
      font-family: "League Spartan", sans-serif;
      font-weight: 700;
      font-size: 4rem;
      @media (max-width: 576px) {
        font-size: 2rem;
      }
    }
    p {
      color: rgb(253, 253, 253);
      font-size: 1rem;
      @media (max-width: 576px) {
        font-size: 0.8rem;
      }
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      margin-top: 100px;
      margin-left: 20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 30px;
      @media (max-width: 576px) {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-top: 10px;
      }
    }
    svg {
      // margin-left: -10px;
      color: white;
      font-size: 1.5rem;
      margin-right: 15px;
      @media (max-width: 576px) {
        margin-left: 75px;
      }
    }
    span {
      margin-top: 50px;
      color: white;
      font-size: 1.2rem;
      @media (max-width: 576px) {
        font-size: 0.8rem;
      }
    }
  }
}

.lhl {
  color: rgba(229, 233, 28, 0.727);
}

.employment {
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
  }
}
.row {
  // text-align: center;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  @media (max-width: 576px) {
    font-size: 0.7rem;
    .address {
      display: none;
    }
    margin-bottom: 1rem;
  }
}
.topic {
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  @media (max-width: 576px) {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
