.container {
  display: flex;
  height:100vh;
}

#home {
  display: flex;
  width: 100vw;
  margin-left:30px;
  padding-top: 30px;
  text-align: left;
  align-items: center;
  .text {
    font-size:4rem;
    span {
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
    }
  }
}

#icons {
  margin:auto;
  font-size: 6rem; 
  display: flex;
  flex-direction: column;
  justify-content: right;
  color: white;
  span {
    margin: 0 20px;
  }

  svg {
    padding: 20px 0;
  };
  svg:first-child {
    color: rgb(68, 68, 219);
  }
  svg:last-child {
    color: rgb(160, 115, 84);
  }
}
#introduction {
  color: white;
  width:60%;
}

#profile {
  width: 50vw;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

#introduction > span {
  margin-left: 100px;
  background-color: rgb(96, 87, 200);
  margin-top: 100px;
  padding: 10px 10px;
  border-radius: 50px;
}

#reachMe {
 
  display: flex;
  justify-content: center;
  margin-top: -200px;
  h3, h4 {
    text-align: center;
  }
  h3 {
    background-color: rgb(190, 189, 190);
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right:20px;
  }
  
}
