#home {
  margin-top: -8vh;
  display: flex;
  flex-direction: column;
  height:100vh;

}

#home-container {
  display: flex;
  width: 90vw;
  height:40vh;
  margin:auto;
  padding-top: 50px;
  text-align: left;
  align-items: center;
  @media (max-width: 576px) {
    flex-direction: column;
    margin-left: 5px;
    margin-top: 100px;
  }
  .topic {
    font-size:4rem;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
    span {
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
    }
  }

  .typewriter {
    color:orange;
    font-weight:bold;
    margin-left: 10px;
    font-size:3.5rem;
    background:"none";
    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }
}

#icons {
  margin:auto;
  font-size: 6rem;
  @media (max-width: 576px) {
    font-size: 6rem;
    margin-top:20vh;
  }
  display: flex;
  flex-direction: column;
  @media (max-width: 576px) {
    flex-direction: row;
  }
  justify-content: right;
  color: white;
  span {
    margin: 0 20px;
  }

  svg {
    padding: 20px 0;
  };
}

#introduction {
  color: white;
  width:70%;
  @media (max-width: 576px) {
    width:100%;
  }
}

#profile {
  width: 50vw;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

#introduction > span {
  margin-left: 100px;
  background-color: rgb(96, 87, 200);
  margin-top: 100px;
  padding: 10px 10px;
  border-radius: 50px;
}

#reachMe {
  // margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  h3, h4, a {
    text-align: center;
    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }
   a{
    background-color: rgb(190, 189, 190);
    margin-top: 100px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right:20px;
    text-decoration: none;
  }
}

#icon:first-child {
  color: green;
}
