.container {
  display: flex;
  height:100vh;
}

#home {
  width: 50vw;
  margin-left:30px;
  margin-top: 100px;
  padding-top: 100px;
  text-align: center;
  align-items: center;
  p {
    font-size:3rem;
    span {
      font-family: 'League Spartan', sans-serif;
      font-weight: 700;
    }
  }
}

#icons {
  font-size: 1.5rem; 
  display: flex;
  justify-content: right;
  color: white;
  span {
    margin: 0 20px;
  }
}
#introduction {
  color: white;
}

#profile {
  width: 50vw;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

#introduction > span {
  margin-left: 100px;
  background-color: rgb(96, 87, 200);
  margin-top: 50px;
  padding: 10px 10px;
  border-radius: 50px;
}

#reachMe {
 
  display: flex;
  justify-content: center;
  margin-top: -350px;
  h3, h4 {
    text-align: center;
  }
  h3 {
    background-color: rgb(190, 189, 190);
    margin-top: 50px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-right:20px;
  }
  
}
