.navbar-brand {
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  } 

.navbar, .navbar-expand, .navbar-light {
  background:rgb(41, 41, 60);
  position: absolute;
  z-index: 10;
}


.nav-link {
  color: white;
  
}

