.projects-container {
  margin-top: 200px;
  p:first-child {
    font-size: 4rem;
    color: white;
    text-align: center;
  }
  .card {
    width:300px;
    height:600px;
  }
  h5 {
    font-size: 2rem;
    font-weight: bolder;
    color:brown;
  }
  p {
    color: white;
  }
  // .card-img {
  //   width: 250px;
  //   height:250px;
  // }
  // img {
  //   width: 250px;
  //   height:250px;
  // }
}