
.projects-container {
  text-align: center;
  .card > img {
    width:31vw;
    height:35vh;
  }
  @media (max-width: 576px) {
    .card > img {
      margin: auto;
      width:75vw;
    }
  }
  p:first-child {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    width: 100%;
    background: none;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }
}


