
.skills-container {
  
  margin:50px auto;
  width: 80vw;
  margin-bottom: 4rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  box-shadow: 10px 5px 5px rgb(108, 106, 106);
  border: 2px solid rgb(163, 158, 158);
  @media (max-width: 576px) {
    font-size: 2rem;
  }


  P {
    border-radius: 5%;
    margin: auto;
    text-align: center;
    font-size: 4rem;
    color: white;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
  }

  table,
  tr,
  td {
    margin: auto;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
    @media (max-width: 576px) {
      font-size: 1rem;
      font-weight: 700;

    }

    tr {
      width: 75vw;
      display: flex;
      height: 10vh;
      text-align: center;
      justify-content: center;
      td {
        margin: auto 0px;
        width: 30%;
      }

      td:nth-child(2) {
        width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-size: 3.5rem;
        @media (max-width: 576px) {
          font-size: 1.2rem;
        }
        svg {
          border-radius: 25%;
        }
      }
    }
  }
}


