

.skills-container {
    margin-top: 200px;
    color: white;
    P {
        margin: auto;
        text-align: center;
        font-size: 4rem;
        color: white;
    }

   
    table {
        margin: auto;
        width: 80vw;
        font-size: 2.5rem;
        
       tr {
            display: flex;
            height: 15vh;
            text-align: center;
            justify-content: center;
           td {
            margin:auto;
           }
           td:nth-child(2) {
            width: 60%;
            margin:auto;
            display: flex;
            justify-content: space-between;
            font-size: 3rem;
           }
       }
    }
}